USE [aaaaaaaaaaaaaa]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 30.10.2022 0:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[IdOrder] [int] IDENTITY(1,1) NOT NULL,
	[IdProvader] [int] NOT NULL,
	[IdProdukt] [int] NOT NULL,
	[DatdOrder] [date] NOT NULL,
	[QuantityOrder] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produkts]    Script Date: 30.10.2022 0:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produkts](
	[IdProduk] [int] IDENTITY(1,1) NOT NULL,
	[NameProdukt] [nvarchar](55) NOT NULL,
	[Remains] [int] NOT NULL,
 CONSTRAINT [PK_Produkts] PRIMARY KEY CLUSTERED 
(
	[IdProduk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provader]    Script Date: 30.10.2022 0:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provader](
	[IdProvader] [int] IDENTITY(1,1) NOT NULL,
	[NameProvader] [nvarchar](55) NOT NULL,
 CONSTRAINT [PK_Provader] PRIMARY KEY CLUSTERED 
(
	[IdProvader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 30.10.2022 0:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[NameRole] [nvarchar](55) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 30.10.2022 0:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Password] [nvarchar](55) NOT NULL,
	[Login] [nvarchar](505) NOT NULL,
	[IdRole] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([IdOrder], [IdProvader], [IdProdukt], [DatdOrder], [QuantityOrder]) VALUES (1, 2, 1, CAST(N'2022-10-29' AS Date), 1)
INSERT [dbo].[Order] ([IdOrder], [IdProvader], [IdProdukt], [DatdOrder], [QuantityOrder]) VALUES (2, 1, 1, CAST(N'2022-10-29' AS Date), 22)
INSERT [dbo].[Order] ([IdOrder], [IdProvader], [IdProdukt], [DatdOrder], [QuantityOrder]) VALUES (3, 2, 1, CAST(N'2022-10-29' AS Date), 111)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Produkts] ON 

INSERT [dbo].[Produkts] ([IdProduk], [NameProdukt], [Remains]) VALUES (1, N'test', 190)
INSERT [dbo].[Produkts] ([IdProduk], [NameProdukt], [Remains]) VALUES (2, N'Pivo', 21)
SET IDENTITY_INSERT [dbo].[Produkts] OFF
GO
SET IDENTITY_INSERT [dbo].[Provader] ON 

INSERT [dbo].[Provader] ([IdProvader], [NameProvader]) VALUES (1, N'test')
INSERT [dbo].[Provader] ([IdProvader], [NameProvader]) VALUES (2, N'Pivovoz')
SET IDENTITY_INSERT [dbo].[Provader] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (2, N'Dir')
INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (3, N'SisDir')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IdUser], [Password], [Login], [IdRole]) VALUES (1, N'lol', N'lol', 1)
INSERT [dbo].[User] ([IdUser], [Password], [Login], [IdRole]) VALUES (4, N'lol', N'Dem0n', 3)
INSERT [dbo].[User] ([IdUser], [Password], [Login], [IdRole]) VALUES (5, N'ded', N'ded', 3)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Produkts] FOREIGN KEY([IdProdukt])
REFERENCES [dbo].[Produkts] ([IdProduk])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Produkts]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Provader] FOREIGN KEY([IdProvader])
REFERENCES [dbo].[Provader] ([IdProvader])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Provader]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
